{% extends 'base.html' %}

{% block content %}
  <h1>List of Cars</h1>
  <div class="mb-3">
    <div class="text-center">
      <a href="{% url 'car_create' %}" class="btn btn-primary">Add Car</a>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Main Color</th>
        <th>Value</th>
        <th>Production Costs</th>
        <th>Transportation Costs</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for car in car_list %}
        <tr>
          <td contenteditable="false">{{ car.brand }}</td>
          <td contenteditable="false">{{ car.model }}</td>
          <td contenteditable="false">{{ car.main_color }}</td>
          <td contenteditable="false">{{ car.value }}</td>
          <td contenteditable="false">{{ car.production_costs }}</td>
          <td contenteditable="false">{{ car.transportation_costs }}</td>
          <td contenteditable="false">{{ car.total }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7">No cars found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="mb-3">
    <a href="javascript:void(0)" onclick="startUpdating()" class="btn btn-primary" id="startUpdatingBtn">Start Updating</a>
  </div>

  <div class="mb-3 d-none" id="updateButtons">
    <div class="d-flex justify-content-between">
      <div>
        <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
      </div>
      <div>
        <a href="{% url 'car_list' %}" class="btn btn-secondary">Cancel</a>
      </div>
    </div>
  </div>

  <script>
    function startUpdating() {
      var cells = document.querySelectorAll('td[contenteditable="false"]');
      for (var i = 0; i < cells.length; i++) {
        cells[i].setAttribute('contenteditable', 'true');
      }

      var startUpdatingBtn = document.getElementById('startUpdatingBtn');
      startUpdatingBtn.classList.add('d-none');

      var updateButtons = document.getElementById('updateButtons');
      updateButtons.classList.remove('d-none');
    }
  </script>
{% endblock %}
